{% extends 'main_layout.html' %}
{% load static %}
{% block title %}
  Ulgama girmek
{% endblock title %}
{% block head %}
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
{% endblock head %}
{% block body %}
  <div style="height: 20vh;"></div>
  <form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <button type="submit">Login</button>
  </form>
  <div>
    No account yet? <a href="/register">Register</a>
  </div>
  <div style="height: 20vh;"></div>
{% endblock body %}
