{% extends 'main_layout.html' %}
{% load static %}
{% block title %}
    Internet nyrhnamalary - Daşoguztelecom
{% endblock title %}
{% block head %}
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/new.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/tariffs.css' %}" rel="stylesheet">
    <link rel="stylesheet"
          href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
{% endblock head %}
{% block body %}
    <div style="height: 15vh;"></div>
    <h1 class="pt-5">Internet tarifleri</h1>
    <h2>Ilata berilýän internet</h2>
    <p style="text-align: center;">Şäherde giöňerlär bekleniksiz internet tarifleri</p>
    <div class="plans">
        <div class="plan">
            <h3>1 Mbit/s</h3>
            <p>TMT 150 / aý</p>
        </div>
        <div class="plan">
            <h3>2 Mbit/s</h3>
            <p>TMT 180 / aý</p>
        </div>
        <div class="plan">
            <h3>4 Mbit/s</h3>
            <p>TMT 230 / aý</p>
        </div>
        <div class="plan">
            <h3>6 Mbit/s</h3>
            <p>TMT 280 / aý</p>
        </div>
    </div>
    <div class="additional-services">
        <img
            src="{% static 'assets/images/sliders.svg' %}"
            alt="Hyzmatlar">
        <h2>Goşmaça hyzmatlar</h2>
        <p>Tüzediş</p>
        <p>
            Üç aýlyk wagtlaýyn öçürme: <strong>TMT 30,00</strong>
        </p>
    </div>
    <div style="height: 10vh;"></div>
{% endblock body %}
{% block scripts %}
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% endblock scripts %}
