{% extends 'main_layout.html' %}
{% load static %}
{% block title %}
    Telefoniýa - Daşaguztelecom
{% endblock title %}
{% block head %}
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/new.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/telephone.css' %}" rel="stylesheet">
    <link rel="stylesheet"
          href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
{% endblock head %}
{% block body %}
    <div style="height: 15vh;"></div>
    <header>
        <h1>Telefoniýa - Bahalar</h1>
    </header>
    <main>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Döwlet</th>
                        <th>Kod</th>
                        <th>Telefon hyzmaty (GBSS-syz), manat</th>
                        <th>Telefon hyzmaty (GBSS bilen), manat</th>
                        <th>Telegraf, manat</th>
                        <th>Telefoniýa (USD)</th>
                        <th>Telegrammalar (USD)</th>
                        <th>Teleks (USD)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Awstraliýa</td>
                        <td>+61</td>
                        <td>10.50</td>
                        <td>15.00</td>
                        <td>5.28</td>
                        <td>3.00</td>
                        <td>2.50</td>
                        <td>4.00</td>
                    </tr>
                    <tr>
                        <td>Awstriýa</td>
                        <td>+43</td>
                        <td>9.00</td>
                        <td>13.50</td>
                        <td>4.50</td>
                        <td>2.80</td>
                        <td>2.30</td>
                        <td>3.70</td>
                    </tr>
                    <tr>
                        <td>Azerbaýjan</td>
                        <td>+994</td>
                        <td>8.00</td>
                        <td>12.00</td>
                        <td>4.00</td>
                        <td>2.50</td>
                        <td>2.00</td>
                        <td>3.50</td>
                    </tr>
                    <tr>
                        <td>Albaniýa</td>
                        <td>+355</td>
                        <td>7.50</td>
                        <td>11.50</td>
                        <td>3.75</td>
                        <td>2.40</td>
                        <td>2.10</td>
                        <td>3.30</td>
                    </tr>
                    <tr>
                        <td>Angola</td>
                        <td>+244</td>
                        <td>12.00</td>
                        <td>18.00</td>
                        <td>6.32</td>
                        <td>4.00</td>
                        <td>3.50</td>
                        <td>5.00</td>
                    </tr>
                    <!-- Остальные страны можно добавить здесь -->
                </tbody>
            </table>
        </div>
    </main>
    <div style="height: 10vh;"></div>
{% endblock body %}
{% block scripts %}
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% endblock scripts %}
